* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #caf0f8;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: #03045e;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#menu-toggle {
  display: none;
}
/* ========================================================= */

/* ========================================================= */
/* Menu Bar */
.nav-panel {
  background-color: #023e8a;  
  border-right: 1px solid #ade8f4;  
  border-bottom: 1px solid #ade8f4; 

  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  z-index: 1000;
  padding: 6rem 1.5rem 3rem 1.5rem; 
  box-shadow: 4px 0 20px rgba(0, 0, 0, 0.3);
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

#menu-toggle:checked ~ .nav-panel {
  transform: translateX(0);
}

/* Links */
.nav-links {
  gap: 1.2rem;
  display: flex;
  list-style: none;
  flex-direction: column;
  align-items: flex-start;
}
.nav-links a {
  color: #cbd5e1;  
  font-size: 1.1rem; 
  text-decoration: none; 
  transition: color 0.2s ease;
}

/* Text Color when hovered over */
.nav-links a:hover {
  color: #38bdf8;
}
/* ========================================================== */

/* ========================================================== */
/* Menu Collapse Button */
.toggle-btn {
  position: fixed;
  top: 0.5rem;
  left: 0.5rem;
  z-index: 1100;
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  background-color: #023e8a; 
  border: 1px solid #ade8f4;
  padding: 0.8rem 1rem;
  border-left: 4px solid #38bdf8;
  transform-origin: center;
  transition: background-color 0.2s ease, transform 0.3s ease-in-out;
}

.toggle-btn:hover {
  background-color: #0353a4;
  border-color: #38bd38;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #caf0f8;
  display: block;
}

/* Rotate Button as menu opens */
#menu-toggle:checked ~ .toggle-btn {
  transform:rotate(90deg);
}
/* ========================================================== */

/* ========================================================== */
/* Search Bar */
.search-container {
   width: 100%;
  display: flex;
  margin-top: 15vh;
  padding: 1rem 2rem;
  justify-content: center;
}
.search-box {
  border: 1px solid #ade8f4;
  display: flex;
  align-items: center;
  padding: 0.8rem 1.4rem;
  background-color: #023e8a;
  width: 100%;
  max-width: 650px;
  border-radius: 30px;
  gap: 0.8rem;
  transition: box-shadow 0.2s ease, border-color 0.2s ease;
}
search-icon {
  width: 16px;
  height: 16px;
  opacity: 0.8;
}
.search-box input {
  flex-grow: 1; 
  background: transparent;
  border: none;
  outline: none;
  color: #caf0f8;
  font-size: 1.1rem;
}
/* ========================================================== */