body {
  padding-top: 95px;
  background-color: #02010a;
  overflow-x: hidden;
}

/* Menu */
.top-nav {
  top: 0;
  left: 0;
  display: flex;
  position: fixed;
  align-items: center;

  width: 100%;
  height: 55px;
  background-color: #04052e;
  border-bottom: 1px solid #22007c;

  gap: 30px;
  z-index: 2000;
  padding: 0 30px;
}
.top-nav a{
  text-decoration: none;
  color: #f9f5ff;
  font-weight: 500;
  font-size: 0.95rem;
  transition: color 0.2s ease;
}
.top-nav a:hover {
  color: #60a5fa;
}

/* Search Bar */
.search-container {
  display: flex;
  padding: 0 20px;
  margin-top: 20px;
  justify-content: center;
}
.search-box {
  gap: 12px;
  width: 100%;
  display: flex;
  max-width: 800px;
  padding: 14px 20px;
  align-items: center;

  border: 1.5px solid;
  border-radius: 10px;
  background: #04052e;
  border: 1px solid #22007c;
}
.search-box input {
  flex: 1;
  width: 100%;
  border: none;
  outline: none;
  color: #f9f5ff;
  background: transparent;
}
.search-icon {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  stroke: #cbf7ed;
}

/* Ticker */
.ticker-wrap {
  position: fixed;
  top: 55px;
  width: 100%;
  height: 30px;
  background: #030424;
  overflow: hidden;
  border-bottom: 1px solid #22007c;
  z-index: 1900;
}
.ticker {
  white-space: nowrap;
  color: #cbf7ed;
  line-height: 30px;
  padding-left: 100%;
  animation: ticker-scroll 30s linear infinite;
}
@keyframes ticker-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/* Displays ticker, price and change */
.stock-card{
  color: white;
  margin: 40px auto;
  width: 90%;
  max-width: 800px;
  padding: 20px;

  background: #04052e;
  border: 1px solid #22007c;
  border-radius: 12px;
}

.chart-container {
  color: white;
  width: 90%;
  max-width: 800px;
  margin: 40px auto;
}
.news-container {
  color: white;
  width: 90%;
  max-width: 800px;
  margin: 40px auto;
}
.news-item img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}
.news-item a {
    color: white;
    text-decoration: none;
    font-size: 28px;
    font-weight: 600;
}
.news-item a:hover {
    color: #60a5fa;
}

.ai-summary-card{
    width:90%;
    max-width:700px;
    margin:40px auto;
    padding:20px;

    background:#04052e;
    border:1px solid #22007c;
    border-radius:12px;
    color:white;
}
.ai-summary-card h2{
    margin-top:0;
    color:#bacee6;
}
#aiSummary{
    line-height:1.8;
    font-size:16px;
}